<!-- views/gerador.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Gerador de Documentos</title>
  <link rel="stylesheet" href="../src/css/gerador.css">
  <script src="../src/js/renderer.js"></script>
</head>
<body>
  <main class="gerador-container">
    <h1>📄 Gerador de Documentos</h1>
    <button id="laudo">Laudo Tecnico</button>
    <div id="modal-laudo" class="modal">
      <form action="">
       <label for="origem">Origem</label>
       <input type="text" name="origem" id="origem"><br>
       <label for="departamento">Departamento</label>
       <input type="text" name="departamento" id="departamento"><br>
       <label for="nome-solicitante">Nome do Solicitante</label>
       <input type="text" id="nome-solicitante"><br>
       <label for="ramal">Ramal</label>
       <input type="text" id="ramal"><br>
       <label for="equipamento">Equipamento</label>
       <input type="text" id="equipamento"><br>
       <label for="tudo">Marca, Modelo, Nª de Serie, Patrimonio </label>
       <input type="tudo" id="tudo"><br>
       <label for="centro-de-custo">Centro de Custo</label>
       <input type="number" id="centro-de-custo"><br>
       <label for="justificativa">Justificativa</label>
       <input type="text" id="justificativa"><br>
       <button id="gerar-pfd">Gerar PDF</button>
       <button id="fecha-modal">Cancelar</button>
      </form>
    </div>
  </main>
</body>
</html>
